@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

/* Colors */
:root {
  --primary-color: #c44536;
  --secondary-color: #283d3b;
  --dark-color: #888;
  --light-color: #ffffffc2;
  --success-color: #5cb58c;
  --error-color: #d9534f;
  --tertiary-color: #edddd4;
}

/* Defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #ddd;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

/* img {
  width: 100%;
  color: var(--primary-color);
} */

/* Custom Container */
.custom-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

/* Backgrounds */
.background-primary,
.button-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.background-secondary,
.button-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.background-tertiary {
  background-color: var(--tertiary-color);
  color: #fff;
}

.background-dark,
.button-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.background-light,
.button-light {
  background-color: var(--light-color);
  color: #333333;
}

/* Text color */
.primary-text {
  color: var(--primary-color);
}

.secondary-text {
  color: var(--secondary-color);
}

.dark-text {
  color: var(--dark-color);
}

.light-text {
  color: var(--light-color);
}

.background-primary a,
.button-primary a,
.background-secondary a,
.button-secondary a,
.background-dark a,
.button-dark a {
  color: #fff;
}

/*Button*/
.button {
  display: inline-block;
  border: none;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  padding: 5px 30px;
  border-radius: 5px;
}

.button-outline {
  background-color: transparent;
  border: 1px var(--primary-color) solid;
  color: #333;
}

.button:hover {
  transform: scale(0.98);
}

button:focus {
  outline: none;
}

/* Register */
.register,
.login,
.set-password {
  max-width: 500px;
  margin: auto;
}

.register a,
.login a,
.set-password a {
  color: #333;
  text-decoration: underline;
}

.register input[type="text"],
.register input[type="email"],
.register input[type="password"],
.login input[type="text"],
.login input[type="email"],
.login input[type="password"],
.set-password input[type="password"] {
  border: none;
  border-bottom: solid #888 1px;
  border-radius: 0;
  padding: 10px 5px;
  background-color: #ddd;
  width: 100%;
}

input:focus {
  outline: none;
}

.login .form-check {
  margin: 10px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #149ddd;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #2eafec;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

.img {
  width: 120px;
  height: 120px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
#Header
--------------------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
  background-color: #fff;
}

.header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

.header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

.header .profile h1 a,
.header .profile h1 a:hover {
  color: #333;
  text-decoration: none;
}

.header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #333;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  .header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding-top: 30px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #333;
  padding: 3px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a img {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
  width: 28px;
  height: 28px;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  text-decoration: none;
  color: var(--primary-color);
}

.nav-menu a:hover i,
.nav-menu .active > a i,
.nav-menu li:hover > a i {
  color: #149ddd;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #149ddd;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

nav {
  width: 800px;
  margin: auto;
  padding: 20px;
}

/* Caregory */
.category-form .row {
  background-color: #fff;
  align-items: flex-start;
}
.category-form .row .text-input {
  margin: auto 40px;
}

.category-form .row .image-input {
  margin: auto;
  padding: 3rem 2rem;
}
.category-form .custom-container .row .col label {
  display: block;
}

.category-form input[type="text"],
.category-form input[type="number"] {
  padding: 6px;
  width: 100%;
  border-radius: 5px;
  border: solid #888 1px;
}

.category-form select {
  padding: 6px;
  width: 100%;
  border-radius: 5px;
  border: solid #888 1px;
}

.category-form textarea {
  width: 100%;
  border: solid rgb(136, 128, 128) 1px;
  border-radius: 5px;
  padding: 5px;
}

.category-form textarea:focus {
  outline: none;
}

.category-form .image-box {
  background-color: #ddd;
  border: solid #888 2px;
  height: 300px;
  width: 400px;
  margin: auto;
}

.category-form .image-box:focus {
  outline: none;
}

/* Product */
.product-form {
  justify-content: space-between;
}
.product-form .row {
  background-color: #fff;
  align-items: flex-start;
}
.product-form .row .text-input {
  margin: auto;
  margin-left: 10px;
  margin-right: 40px;
}

.product-form .row .image-input {
  margin: 40px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.product-form .custom-container .row .col label {
  display: block;
}

.product-form input[type="text"],
.product-form input[type="number"] {
  padding: 6px;
  width: 100%;
  border-radius: 5px;
  border: solid #888 1px;
}

.product-form select {
  padding: 6px;
  width: 100%;
  border-radius: 5px;
  border: solid #888 1px;
}

.product-form textarea {
  width: 100%;
  border: solid rgb(136, 128, 128) 1px;
  border-radius: 5px;
  padding: 5px;
}

.product-form textarea:focus {
  outline: none;
}

.product-form .image-box {
  background-color: #ddd;
  border: solid #888 2px;
  height: 320px;
  width: 280px;
}

.product-form .image-box:focus {
  outline: none;
}

.product-form .product-images {
  display: grid;
  padding: 10px;
}

.product-form .image-input .product-images .product-image {
  background-color: #ddd;
  border: solid #888 2px;
  width: 80px;
  height: 80px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.product-form .image-input .product-images .product-image:focus {
  outline: none;
}

.product-form .image-input .product-images .product-image i {
  color: var(--primary-color);
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  display: block;
}

/* Customers */
.customers .customers-table {
  background-color: #fff;
}
.customers table {
  padding: 2rem;
}

.customers table th {
  margin: auto;
  padding: 1rem;
}

.customers table td {
  margin: auto;
  padding: 1.6rem;
}

.customers table .th-border {
  border-left: 1px solid #888;
}

/* Orders */
.customer-details .details,
.customer-details .order-details {
  background-color: #fff;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 400px;
}

/* Orders Details */
.orders .orders-table {
  background-color: #fff;
}
.orders table {
  padding: 2rem;
}

.orders table th {
  margin: auto;
  padding: 1rem;
}

.orders table td {
  margin: auto;
  padding: 1.6rem;
}

.orders table .th-border {
  border-left: 1px solid #888;
}

/* Categories */
.categories .categories-table {
  background-color: #fff;
}
.categories table {
  padding: 2rem;
}

.categories table th {
  margin: auto;
  padding: 1rem;
}

.categories table .align-center {
  margin: auto;
  vertical-align: center;
  justify-content: center;
}

.categories table .th-border {
  border-left: 1px solid #888;
}

/* Products */
.products-list .products-list-table {
  background-color: #fff;
}
.products-list table {
  padding: 2rem;
}

.products-list table th {
  margin: auto;
  padding: 1rem;
}

.products-list table td {
  margin: auto;
  padding: 1.6rem;
}

.products-list table .th-border {
  border-left: 1px solid #888;
}

.products .products-grid {
  display: grid;
  background-color: #fff;
  padding: 2rem;
}

.products .product-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0.7rem;
  margin: auto;
}

.products .product-items .product-item {
  display: grid;
}

.products .product-items .product-item {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

@media (max-width:  667px){
  .products .products-grid{
    display: grid;
    margin: auto;
  }

   .products .products-grid .product-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   }

   .hide-sm {
    display: none;
  }

  .products-list table th {
  margin: auto;
  padding: 1rem;
}

  .products-list table td {
    padding: 1rem;
    margin:  auto;
  }

  .products-list table {
  padding: 0.5rem;
}

}


@media screen and (max-width: 1024px) and (min-width: 700px){
  .products .products-grid .product-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    padding: 1rem;
  }

}
